@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ensure no default margin on the body */
body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevents scrollbars if the canvas is exactly 100% */
}